<!DOCTYPE html>
<html>
<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script src="//apis.google.com/js/platform.js?onload=start" async defer> </script>
<meta name="google-signin-client_id" content="62898528474-7f5co5rgopmrdps65p9741aacs37n36i.apps.googleusercontent.com">
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

</head>


<body  style="margin: 0; background-color: #a6a6a6;">  
<header style="display: flex; flex-wrap: wrap; font-size: 3em; background-color:#000080;">
  <a href="{{url_for('showMaster')}}" style="color: #ff6600;display: inline-block;width: 50%;box-sizing: border-box;padding-left: 2em; word-wrap: break-word;">Catalog App</a>

</header>
<main style="margin-left: 6em;margin-right: 6em; background-color:#ffffff; margin-top: 1em; padding: 1em;">
<h3 id="1">Create New User Account <a href="{{url_for('Register')}}">Here</a><br></h3>
<form method="POST" action="{{url_for('Login')}}" id="login">
<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
 <label style="display: inline-block;width: 70px;">Email:</label><input type="text" name="email" required><br><br>
 <label style="display: inline-block;width: 70px;">Password:</label><input type="Password" name="Password" required><br><br>
 <input type="submit" name="submit" value="Sign in" style="height: 40px; width: 240px;"><br>
</form>

<h3 style="margin-left: 100px;" id="or1">Or</h3>
<!-- GOOGLE PLUS SIGN IN-->

         
          <div id="signinButton" >
          <span class="g-signin"
            data-scope="profile email"
            data-clientid="62898528474-7f5co5rgopmrdps65p9741aacs37n36i.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force"
            data-width="240" data-height="40" data-longtitle="true">
            </span>
          </div>
       
<br>
<h3 style="margin-left: 100px;" id="or2">Or</h3>
<div id="result"></div>

<script>

function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    $('#1').attr('style', 'display: none');
    $('#login').attr('style', 'display: none');
    $('#or1').attr('style', 'display: none');
    $('#or2').attr('style', 'display: none');
    $('#fbbutton').attr('style', 'display: none');
    
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/catalog";
         }, 4000);
          
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  }); } }
</script>



<!--END GOOGLE PLUS SIGN IN -->

<!--FACEBOOK SIGN IN -->
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1971479626443695',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    $('#signinButton').attr('style', 'display: none');
    $('#1').attr('style', 'display: none');
    $('#login').attr('style', 'display: none');
    $('#or1').attr('style', 'display: none');
    $('#or2').attr('style', 'display: none');
    $('#fbbutton').attr('style', 'display: none');
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/catalog";
         }, 4000);
          
      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  });
    });
  }
</script>

 
         


          <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();" data-size="large" data-width="200" button_type="login_with" data-max-rows="1" id="fbbutton">
Sign in with Facebook

</fb:login-button>
<!--END FACEBOOK SIGN IN -->

<div class = 'flash'>
          {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
</main>
  </body>

  </html>